@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: hsl(56, 100%, 50%);
}
.padding_right_4_75_rem{
    padding-right: 4.75rem;
}

.h-card-backside{
    height: 464px;
}
.h-card{
    height: 400px;
}
.h-card-img{
    height: 370px;
}

.w-card{
    width: 300px;
}
.w-card-backside{
    width: 320px;
}

.p-no-overflow-description{
    max-width: 300px;
    word-wrap: break-word;
}
.p-no-overflow-title{
    max-width: 272px;
    word-wrap: break-word;
}

.bottom-4_5{
    bottom: 19px;
}